@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    service@pazzo.com.tw<br />
    MON.-FRI. 09:00-12:00 / 13:00-18:00<br />
    <abbr title="Phone">P:</abbr>
    0800-628-628
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:service@pazzo.com.tw">service@pazzo.com.tw</a><br />
    <strong>Marketing:</strong> <a href="mailto:service@pazzo.com.tw">service@pazzo.com.tw</a>
</address>