@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Pazzo 員工管理 新增、刪除、修改、查詢</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>網站</h2>
        <p>
            P A Z Z O
            IT’S THE ACCESSORY OF LIFE.
            我們可以是你生活中的美好配件
            也能成為一種新生活風格的養成
            更是一種任何人都能駕馭的好感穿搭
        </p>
        <p>
            從日常生活中取樣設計
            將每件衣服注入美好的小細節
            帶著一點點流行和一些些不同
            讓每位女孩都能在這裡找到屬於自己小小耀眼的品味
        </p>
        
        <p><a class="btn btn-default" href="https://www.pazzo.com.tw/">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>104 招募</h2>
        <p>
            如果妳也喜歡PAZZO的品牌風格以及分享美好生活的概念
            妳所負責的工作將讓更多人在PAZZO享受愉快的購物時光♡
        </p>
        <p><a class="btn btn-default" href="https://www.104.com.tw/company/2hevrao?jobsource=joblist_r_cust">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>網站</h2>
        <p>
            關於MEIER.Q

            品牌介紹

            MEIER.Q從臺灣出發，以上海為巢，優雅時尚做媒介，目標迎向全球化遞送。          

            關於成長與蛻變，看待事物的面貌也調整了一些，比起從前，更在乎接觸時的感動與細節。

            追求美感的執著依舊，找尋簡單中隱藏的設計巧思、舒適中堅持的時尚品味，這些， 變得更耐人尋味。

            延長衣著的賞味期成為思考的核心，打造簡單永恆感，一段時間再從衣櫃拿出都能自信的著裝。

            生產流程上注重品質管理，維護平價的高質感；全商品以現貨供應。

            MEIER.Q提供效率良好的物流中心與倉儲系統，為顧客進行快速配送。

            致力於專業親切的客服，以全年無休來為顧客提供最貼心方便的服務。    
            打造簡單永恆感 Create a Simple Lifestyle.
        </p>
        <p><a class="btn btn-default" href="https://www.meierq.com/">前往 &raquo;</a></p>
    </div>
</div>