@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET MVC</h1>
    <p class="lead">Pazzo 員工管理 新增、刪除、修改、查詢</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>網站</h2>
        <p>
            P A Z Z O
            IT’S THE ACCESSORY OF LIFE.
            我們可以是你生活中的美好配件
            也能成為一種新生活風格的養成
            更是一種任何人都能駕馭的好感穿搭
        </p>
        <p>
            從日常生活中取樣設計
            將每件衣服注入美好的小細節
            帶著一點點流行和一些些不同
            讓每位女孩都能在這裡找到屬於自己小小耀眼的品味
        </p>
        
        <p><a class="btn btn-default" href="https://www.pazzo.com.tw/">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>104 招募</h2>
        <p>
            如果妳也喜歡PAZZO的品牌風格以及分享美好生活的概念
            妳所負責的工作將讓更多人在PAZZO享受愉快的購物時光♡
        </p>
        <p><a class="btn btn-default" href="https://www.104.com.tw/company/2hevrao?jobsource=joblist_r_cust">前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>網站</h2>
        <p>
            想將最貼近美好生活的模樣傳遞到你我心中
            就像是每個風和日麗的早晨那般輕盈而柔軟
            出現在你我生活中的每個場景、每個美好的小細節中
            帶著一點點浪漫 拼湊出專屬於自己迷人的溫度
        </p>
        <p><a class="btn btn-default" href="https://www.pazzo.com.tw/">前往 &raquo;</a></p>
    </div>
</div>